{
  "project_info": {
    "project_number": "194637518723",
    "firebase_url": "https://dtubonge-default-rtdb.firebaseio.com",
    "project_id": "dtubonge",
    "storage_bucket": "dtubonge.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_WITH_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.tubonge.mobile"
        }
      },
      "api_key": [
        {
          "current_key": "REPLACE_WITH_ANDROID_API_KEY"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
